body {

	background-color: black;
	font-family: Helvetica Neue;
	color: #292f33;
}

.mainContainer {
	background-color: #FFFFFF;
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tweetHeadContainer {
	overflow: auto;
	margin-bottom: 15px;
}

.contentContainer {
	padding: 30px 40px;
}

.userIcon {
	height: 48px;
	width: 48px;
	float: left;
	margin-right: 10px;
	border-radius: 5px;
}

.userIcon,
.userNameContainer {
	display: inline;
}

.tweetName {
	margin: 0;
}

.tweetTag {
	margin: 0;
	font-size: 14px;
}

.tweetContent {
	clear: both;
	font-size: 26px;
	line-height: 32px;
	font-weight: 300;
	letter-spacing: .01em;
	margin: 0 0 10px 0;
}

.tweetDateTime, 
.tweetTag {
	color: #8899a6;
}

.tweetDateTime {
	font-size: 13px;
	margin: 0;
}

.red {
	color: red;
}

